header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
video {
  display: block;
  margin: 8px;
}
.video-js {
  margin: 8px;
}
.video-js > video {
  margin: 0;
}
